footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.email, .phone, .instagram, .linkedin {
    margin: 2rem;
    font-size: 2rem;
}

.email:hover, .phone:hover, .instagram:hover, .linkedin:hover {
    color: red;
    cursor: pointer;
}