.portfolio-container {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

img {
    object-fit: contain;
    max-width: 50rem;
    height:30rem;
    margin: 0.5rem;
}