.portfolio-container {
    margin: 0;
    padding: 0;
    height: 200vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1fr);
    grid-gap: 1rem;
    --stagger-delay: 100ms;
}

@keyframes cardEnter {
    from {
      opacity: 0;
      transform: scale(0.3);
      filter: hue-rotate(180deg);
    }
    to {
      opacity: 1;
      transform: scale(1);
      filter: hue-rotate(0deg);
    }
  }

.image-container {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    animation: cardEnter 0.5s ease-in-out;
    animation-fill-mode: backwards;

    /* HOVER OFF */
    transition: all 0.2s ease-in-out;
}

.image-container:hover {
    opacity: 0.85;
    transform: scale(0.98);

    /* HOVER ON */
    transition: all 0.2s ease-in-out;
}

.image-container:nth-child(1) {
    background-image: url(../assets/images/1.jpg);
    animation-delay: calc(1 * var(--stagger-delay));
}

.image-container:nth-child(2) {
    background-image: url(../assets/images/2.jpg);
    animation-delay: calc(2 * var(--stagger-delay));
}

.image-container:nth-child(3) {
    background-image: url(../assets/images/3.jpg);
    animation-delay: calc(3 * var(--stagger-delay));
}

.image-container:nth-child(4) {
    background-image: url(../assets/images/4.jpg);
    animation-delay: calc(4 * var(--stagger-delay));
}

.image-container:nth-child(5) {
    background-image: url(../assets/images/5.jpg);
    animation-delay: calc(5 * var(--stagger-delay));
}

.image-container:nth-child(6) {
    background-image: url(../assets/images/6.jpg);
    animation-delay: calc(6 * var(--stagger-delay));
}

.image-container:nth-child(7) {
    background-image: url(../assets/images/7.jpg);
    animation-delay: calc(7 * var(--stagger-delay));
}

.image-container:nth-child(8) {
    background-image: url(../assets/images/8.jpg);
    animation-delay: calc(8 * var(--stagger-delay));
}

.image-container:nth-child(9) {
    background-image: url(../assets/images/9.jpg);
    animation-delay: calc(9 * var(--stagger-delay));
}

.image-container:nth-child(10) {
    background-image: url(../assets/images/9.jpg);
    animation-delay: calc(10 * var(--stagger-delay));
}

.image-container:nth-child(11) {
    background-image: url(../assets/images/9.jpg);
    animation-delay: calc(11 * var(--stagger-delay));
}

.image-container:nth-child(12) {
    background-image: url(../assets/images/9.jpg);
    animation-delay: calc(12 * var(--stagger-delay));
}

.image-container:nth-child(13) {
    background-image: url(../assets/images/9.jpg);
    animation-delay: calc(13 * var(--stagger-delay));
}

.image-container:nth-child(14) {
    background-image: url(../assets/images/9.jpg);
    animation-delay: calc(14 * var(--stagger-delay));
}

.image-container:nth-child(15) {
    background-image: url(../assets/images/9.jpg);
    animation-delay: calc(15 * var(--stagger-delay));
}